doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Feliz Aniversário Bruno !
	link(rel="stylesheet", href="app.css")
body

	h1.t 
		| Happy Birthday
		br
		| Bruno


	.balloonDiv

	script(src="app.js")
	script.
		self.initialize();
	